version: '3.8'

services:
  api-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DB_PATH=/data/mangahub.db

  tcp-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9000:9000"

  udp-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9001:9001/udp"

  grpc-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "50051:50051"

volumes:
  mangahub-data:
    driver: local
